// Colors Page

$main                          : #A3159D;
$second                        : #FBBF11;

$white                         : #FFF;
$black                         : #000;
$grey                          : #707070;