// Colors Page

$main                          : #363636;
$second                        : #f0c649;

$white                         : #FFF;
$black                         : #000;
$grey                          : #707070;