@import '../abstracts/mixins';
@import '../abstracts/variables';

// Header
header{
    .links{
        a{
            &::before{
                content: "";
                @include positionItem(absolute, 0, initial, 0, 0, translateY(100%));
                @include transition(0.5s);
                width: 100%;
                height: 100%;
                background-color: $second;
            }
            &.active, &:hover{
                &::before{
                    transform: translate(0) !important;
                }
            }
        }
    }
}

// Item Car
.item-car{
    .img-car{
        height: 300px;
        img{
            width: 100%;
            height: 100%;
            @include transition(0.5s);
        }
    }
    .info-car{
        h5{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &:hover{
        .img-car{
            img{
                transform: scale(1.3) rotate(10deg);
            }
        }
    }
}

// Filtration
.filtration{
    background-color: $second;
    select{
        padding: 5px 10px;
        border-radius: 5px;
        width: 200px;
    }
}

// Slider
.mySwiper{
    .swiper-button-prev, .swiper-button-next{
        background-color: rgba(240, 198, 73, 0.7);
        width: 50px;
        height: 50px;
        color: $main;
        &::after{
            font-size: 30px;
        }
    }
    .swiper-button-prev{
        right: 0;
    }
    .swiper-button-next{
        left: 0;
    }
}

// Style Input
.input-style{
    position: relative;
    label {
      position: absolute;
      top: 12px;
      right: 15px;
      opacity: 0;
      visibility: hidden;
      font-weight: normal;
      font-size: 15px;
      transition: 0.5s;
      font-weight: 500 !important;
      color: var(--mainColor);
      font-weight: bold;
      &:after {
        content: "*";
        position: relative;
        right: 3px;
      }
    }
    input {
        display: block;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        font-size: 15px;
        color: var(--secondColor);
        background-color: var(--white);
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: 0.5s;
        unicode-bidi: plaintext;
        text-align: right;
        &:disabled {
            opacity: 100%;
        }
        &:disabled+label,
        &:disabled+label+i {
            opacity: 100% !important;
        }
        &:not(:placeholder-shown),
        &:focus {
            padding-top: 18px !important;
    
            &::placeholder {
            opacity: 0;
            }
        }
        &:not(:placeholder-shown)+label,
        &:focus+label {
            top: 7px;
            right: 22px;
            opacity: 1;
            font-size: 11px;
            visibility: initial;
            font-weight: bold;
        }
    }
}

// Map Site
.map-site{
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: 5px solid #DDD;
    border-radius: 10px;
}

// Details
.section-details{
    .section-contact{
        background-color: #f2f2f2;
    }
}

// Terms
.terms{
    p{
        padding: 0 20px;
        margin: 20px 0;
        &::before{
            content: "";
            width: 10px;
            height: 10px;
            background-color: $second;
            display: inline-block;
            @include positionItem(absolute, 10px, initial, 0, initial, initial);
        }
    }
}

// Social
.social{
    a{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &.facebook{
            background-color: #1877F2;
        }
        &.instagram{
            background-color: #E4405F;
        }
        &.twitter{
            background-color: #1DA1F2;
        }
        &.youtube{
            background-color: #CD201F;
        }
        &:hover{
            transform: scale(0.9);
        }
    }
}